html,
body {
  height: 100%;
  background: #f0f0f0;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 5px;
  background-color: #f5f5f5;
  flex-shrink: none;
}

/* Other Classes */

.ine {
    font-family: Arial Black, Gadget, sans-serif;
    font-weight: normal;
	color: #eceff1;
    text-shadow: 0px 0px 4px #000000;
}

.dine {
    font-weight: normal;
	color: #eceff1;
    text-shadow: 0px 0px 4px #000000;
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 26px 0;
  padding-bottom: 5%;
}

.bf-main {
    background-image: url("https://raw.githubusercontent.com/MaripossaGC/maripossagc.github.io/master/assets/img/splash_1.png");
	background-size: cover;
	
}

body, html{
  height: 100%;
}


