html,
body {
  height: 100%;
  background: #f0f0f0;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  flex-shrink: none;
}

/* Other Classes */


h1.ine {
    margin-top: 3rem!important;
    font-family: Arial Black, Gadget, sans-serif;
    font-weight: normal;
	color: gray;
}

